{% extends "base.html" %}

{% block head %}
{{sponsor.name}}
{%endblock%}


{% block content %}	
<div class = "main">
<div class="about_image"><img src = "{{sponsor.logo.url}}"></div>
<div class = "fio"> Information about {{sponsor.name}}. </div>
<div class="defn">{{sponsor.description}}</div>
</div>
{% endblock %}