{% extends "base.html" %}

{% block head %}
{{organizer.fio}}
{%endblock%}


{% block content %}	
<div class = "main">
<div class="about_image"><img src = "{{organizer.photo.url}}"></div>
<div class = "fio"> Some information about {{organizer.fio}}. </div>
<div class="defn">{{organizer.description}}</div>
<br>
<div clas = "fio">Contacts</div>
<div class ="defn">{{organizer.comunications}}</div>
</div>
{% endblock %}