{% extends "base.html" %}

{% block head %}
{{speaker.fio}}
{%endblock%}


{% block content %}	
<div class = "main">
<div class="about_image"><img src = "{{speaker.photo.url}}"></div>
<div class = "fio"> Some information about {{speaker.fio}}. </div>
<div class="defn">{{speaker.description}}</div>
</div>
{% endblock %}