{% extends "base.html" %}

{% block head %}
{{performance.name|capfirst}}
{%endblock%}


{% block content %}	
<div class = "main">
				<div class = "perf_pubdate"> {{ performance.pub_date|date:"G:i j.n.Y " }}</div>
				<div><font size="6">{{ performance.time|date:"G:i j M Y l" }}</font></div>
				
				<p>{{ performance.description|capfirst }}</p>
					
</div>
{% endblock %}