<html>
{% load staticfiles %}
	<head>
		<link rel= "stylesheet" href="{% static "style.css" %}">
		<meta charset="utf-8">
		<title>Conference</title>
	</head>

	<body>
		
		<div class ="allr">
		<div class="fixed">
			
			<form action="/search/" method="get">
		        <input type="text" name="q" placeholder="что ищем?">
		        <input id = "search" type="submit" value="Поиск" >
		    </form>
			<br>
				Time: {{ now|date:" j M Y G:i" }}
			<br>
			
			<br>
			{%if request.user.username %}
				<div>Hello, {{request.user.username}}!</div><a href= "/users/logout/">logout</a>
				<br>

				{% if request.user.is_superuser %}
				<br>
				  <a href="/admin/">admin interface</a>
				  <br>
				{% endif %}

			{%else%}
			
				<form action="/users/base_login/" method="post">{% csrf_token %}
		        <input type="text" name="username" placeholder="логин">
		        <input type="password" name="password" placeholder="пароль">
		       <br>
				<input type="submit" value = "Вход">
				<input type = "submit" formaction = "/users/register/" value="Регистрация">
				</form>

			{%endif%}
			<br>
			{% if perf %}
				<div class = "text"> <font size = "5pt">Ближайшие мероприятия</font></div>
				<ul>

				{% for p in perf %}
					<li>{{p|capfirst}}<br>{{p.time|date:" j M Y G:i"}}</li>
						
				{% endfor %}
				</ul>
			{% else %}

				<div class = "text"> <font size = "5pt">Запланированных мероприятий на данный момент нет</font></div>

			{% endif %}

		</div>
		</div>
			<div class="fixed" id="menu">
				<div class="menu">
					<a href="{% url 'main:default'%}"> Главная </a>
				</div>
				<div class="menu">
					<a href="{% url 'main:news'%}"> База данных </a>
				</div>
			<!--
				 <div class="menu">
					<a href="{% url 'speakers:index' %}"> Speakers </a>
				</div>
			-->
				<div class="menu">
					<a href="{% url 'performances:performances' %}"> Новости </a>
				</div>
			<!--<div class="menu">
					<a href="{% url 'organizers:organizers' %}"> Organizers </a>
				</div>
				<div class="menu">
					<a href="{% url 'sponsors:index'%}"> Sponsors </a>
				</div>
			-->
			</div>
		<div class = "all">			
<div class="fix"></div>
<br><br>
				<div align="center" style = "font-family:calibri; color:gray; font-size:70px">
					{% block head %}{% endblock %}
				</div>

				{% block content%}
				{%endblock%}

		</div>



	</body>
</html>