{% extends "base.html" %}

{% block head %}
О проекте{%endblock%}	
{% block content %}


<div class = "main">
<p>
Проект база данных цифровых моделей разработан в рамках образовательной программы московского политеха, и представляет собой специализированный портал для цифровых моделей по тематике-робототехнике!
</p>
</div>
{% endblock %}

