{% extends "base.html" %}

{% block head %}
Authenticate
{%endblock%}  
{% block content %}
Check username and password and login again
    <form action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>

{% endblock %}
