{% extends "base.html" %}

{% block head %}
База данных цифровых моделей
{%endblock%}	
{% block content %}
<br>

{% for main_item in main %}

<div class = "main">
                    
                    {% if main_item.img %}
                    <div class = "perfomance_img">
                        <img src="{{main_item.img.url}}" alt ="картинка">
                    </div>
                    {% endif %}
               
<div class ="perf_pubdate"> {{ main_item.pub_date|date:"G:i j.n.Y " }}</div>
<center>
    <h2 class = "text">{{main_item.title|upper}}</h5>
    <span class = "text">{{ main_item.description|capfirst }}</span>
    <a class="more" href= "{% url 'main:about' pk=main_item.id %}">more</a>
</center>
</div>


{% endfor %}

		<div class="pagination">
            <span class="step-links" style="display: inline-block; margin-bottom: 20px">
            {% if main.has_previous %}
                <a href="?page={{ main.previous_page_number }}" style="display: inline-block;padding-left: 0">previous</a>
            {% endif %}

            <span class="current" style="display: inline-block">
                Page {{ main.number }} of {{ main.paginator.num_pages }}.
            </span>

            {% if main.has_next %}
                <a href="?page={{ main.next_page_number }}" style="display: inline-block">next</a>
            {% endif %}
            </span>
        </div>
{% endblock %}

