{% extends "base.html" %}

{% block head %}
Organizers
{%endblock%}	
		{% block content %}
		{% for organizers_item in organizers %}
		
		<div class="speaker">
			<div class = "image" style ="background: url({{organizers_item.photo.url}}) no-repeat center center;background-size:cover;">

			</div>

			<div class = "fio">{{ organizers_item.fio|capfirst }}</div>
			<div class = "defn">{{ organizers_item.description|capfirst|truncatechars:100 }}</div>
			<br>
			<div class = "com">{{ organizers_item.comunications|truncatechars:35 }}</div>
			<a class="more" href= "{% url 'organizers:about' pk=organizers_item.id %}">more</a>
		</div>
		
		{% endfor %}
		
		<div class="fix"></div>

		
		<div class="pagination">
            <span class="step-links" style="display: inline-block; margin-bottom: 20px">
            {% if organizers.has_previous %}
                <a href="?page={{ organizers.previous_page_number }}" style="display: inline-block;padding-left: 0">previous</a>
            {% endif %}

            <span class="current" style="display: inline-block">
                Page {{ organizers.number }} of {{ organizers.paginator.num_pages }}.
            </span>

            {% if organizers.has_next %}
                <a href="?page={{ organizers.next_page_number }}" style="display: inline-block">next</a>
            {% endif %}
            </span>
        </div>
		{% endblock %}

	
