{% extends "base.html" %}

{% block head %}
Regisration
{%endblock%}  
{% block content %}
Write your username and invent passowrd
    <form action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <button type="submit">Register</button>
    </form>
{% endblock %}