{% extends "base.html" %}

{% block head %}
Search
{% endblock %}	
		{% block content %}
			<p>You searched for: <strong>{{ query }}</strong></p>
			{%if speakers or organizers or sponsors or performances  %}		

				{% if news %}
				    <p>Found news: {{ news|length }} object </p>
				    <ul>
				        {% for book in news %}
				        <li><a href ="{% url 'main:about' pk=book.id %}">{{ book.title }}</a></li>
				        {% endfor %}
				    </ul>
				{%endif%}

				{% if speakers %}
				    <p>Found speakers: {{ speakers|length }} object </p>
				    <ul>
				        {% for book in speakers %}
				        <li><a href ="{% url 'speakers:about' pk=book.id %}">{{ book.fio }}</a></li>
				        {% endfor %}
				    </ul>
				{%endif%}

				{% if performances %}
					<p>Found performances: {{ performances|length }} object </p>
				    <ul>
				        {% for book in performances %}
				        <li><a href ="{% url 'performances:about' p=book.id %}">{{ book.name }}</a></li>
				        {% endfor %}
				    </ul>
				{% endif %}

				{% if organizers %}
					<p>Found organizers: {{ organizers|length }} object </p>
				    <ul>
				        {% for book in organizers %}
				        <li><a href ="{% url 'organizers:about' pk=book.id %}">{{ book.fio }}</a></li>
				        {% endfor %}
				    </ul>
				{% endif %}

				{% if sponsors %}
					<p>Found sponsors: {{ sponsors|length }} object </p>
				    <ul>
				        {% for book in sponsors %}
				        <li><a href ="{% url 'sponsors:about' pk=book.id %}">{{ book.name }}</a></li>
				        {% endfor %}
				    </ul>
				{% endif %}



			{% else %}
			    <p>No results matched your search criteria.</p>
			{% endif %}
		{% endblock %}