{% extends "base.html" %}

{% block head %}
Speakers
{%endblock%}

		{% block content %}
		{% for speakers_item in speaker %}

			<div class="speaker">
				<div class = "image" style ="background: url({{speakers_item.photo.url}}) no-repeat center center;background-size:cover;">
				</div>
				<div class = "fio">{{ speakers_item.fio|title}}</div>
				<div class = "defn">{{ speakers_item.description|truncatechars:160|capfirst }}</div>
				<a class="more" href= "{% url 'speakers:about' pk=speakers_item.id %}">more</a>
			</div>
	
		{% endfor %}
		<div class="fix"></div>
		    <div class="pagination">
            <span class="step-links" style="display: inline-block; margin-bottom: 20px">
            {% if speaker.has_previous %}
                <a href="?page={{ speaker.previous_page_number }}" style="display: inline-block;padding-left: 0">previous</a>
            {% endif %}

            <span class="current" style="display: inline-block">
                Page {{ speaker.number }} of {{ speaker.paginator.num_pages }}.
            </span>

            {% if speaker.has_next %}
                <a href="?page={{ speaker.next_page_number }}" style="display: inline-block">next</a>
            {% endif %}
            </span>
        </div>
		{% endblock %}

	
