{%extends 'base.html'%}
{% block content %}
<h1>Sponsor edit </h1>
<form enctype="multipart/form-data" method = "POST" class ="post-form">{% csrf_token %}

{{ form.as_p }}

<button type = "submit">Save</button>
</form>
{% endblock %}