{% extends "base.html" %}

{% block head %}
Sponsors
{%endblock%}

		{% block content %}	
		{% if request.user.is_superuser %}
					  <a href="{% url 'sponsors:sponsor_new' %}"><span class = "text">create new sponsor</span></a>
					  <br><br>
		{% endif %}
		{% for sponsor in Sponsor %}
	
			<div class="perfomance">
				<div class = "perfomance_left">
					<div class = "perfomance_img" id ="sponsor">
					{% if sponsor.logo %}
						<img src = "{{sponsor.logo.url }}">
					{% endif %}
					</div>
					<br>
					{% if request.user.is_superuser %}
						<button><a class ="redirect" href="{% url 'sponsors:sponsor_edit' pk=sponsor.id %}">Redirect</a></button>
						 <button><a href="{% url 'sponsors:delete' sponsor.id %}">Delete</a></button>
					{%endif%}
				</div>
				<div class = "perfomance_desc fio"> {{ sponsor.name|upper }}</div> 
								<br><br><br>
				<div class = "perfomance_desc">{{ sponsor.description|truncatechars:550|capfirst  }}</div>

				<a class="more" href= "{% url 'sponsors:about' pk=sponsor.id %}">more</a>
    
    			

				<div class="fix"></div>
			</div>
			
		{% endfor %}

		    <div class="pagination">
            <span class="step-links" style="display: inline-block; margin-bottom: 20px">
            {% if Sponsor.has_previous %}
                <a href="?page={{ Sponsor.previous_page_number }}" style="display: inline-block;padding-left: 0">previous</a>
            {% endif %}

            <span class="current" style="display: inline-block">
                Page {{ Sponsor.number }} of {{ Sponsor.paginator.num_pages }}.
            </span>

            {% if Sponsor.has_next %}
                <a href="?page={{ Sponsor.next_page_number }}" style="display: inline-block">next</a>
            {% endif %}
            </span>
        </div>
		{% endblock %}
