body {
	font-family:arial;
	color: gray;
	margin: 0;
}

.all{
width:70%;
border-right:2px solid gray;
min-height:500px;
padding:0% 2% 5% 2%
}

.allr{
	z-index: 2;
position: relative;
margin:20px;
width: 23%;
float:right;
margin-right: 20px;
}

.fixed{
position: fixed
}
.menu{
display:inline-block;
font-family:arial;
font-size: 20pt;
}
#menu{
	padding-left:15px;

	height: 70px;
	width: 74%;
	z-index: 1;
    background-color: white;
    border-bottom: 2px solid gray;
    box-sizing:border-box;
}

.menu a{
	box-sizing:border-box;
	padding: 20px 10px;
	display:block;
	color: gray;
	text-decoration: none;
	width: 100%;
	height:100%;

}

.menu:hover{
	background: rgba(30%,30%,40%,0.1);
	/*text-shadow:rgba(10%,30%,40%,0.5) 0px 0px 5px;
	border-bottom: 1px dotted gray; */ 
}

.main{
	position: relative;
	background:rgba(10%,30%,40%, 0.2);
	padding: 5px 10px 30px 10px;
	margin-bottom: 20px;

box-shadow: 0 10px 30px -15px black;

}

.speaker{
position: relative;
background:rgba(10%,30%,40%, 0.2);
width:26%;
height:320px;
float:left;
margin:3% 1%;
padding:2%;
text-align:center;

box-shadow: 0 10px 30px -15px black;

}

.image{
margin:0 auto;
margin-bottom:7%;
height:50%;
width:70%;
border-radius: 1000px;
box-shadow: 0 0 25px black;

}

.fio{
font-size: 20pt
}
.defn{
font-size: 12pt	
}
.com{
width: 190px;
position: absolute;
bottom:10px;
font-size: 10pt;
}

.perfomance{
position: relative;
padding:10px;
background:rgba(10%,30%,40%, 0.2);
height:200px;
margin-bottom:30px;

box-shadow: 0 10px 30px -15px black;

}

.perfomance_left{
float:left;
padding-right:10px;
border-right: 1px solid gray;
width:200px;
}

.perfomance_img{
width:100%;
height:70%;
}

#sponsor{
	height:80%;

}

.perfomance_img img {
display: block;
margin:0 auto;
max-height:100%;
max-width: 100%;
}


.perfomance_time{
text-align:center;
height:25%;
}

.perfomance_desc{
min-width: 100px;
width: auto;
max-width: 580px;
float:left;
height:auto;
margin-left:20px;
word-break: break-all;
}

.fix{
clear:both;
}

.perf_pubdate{
font-size: 10pt;

float: right;

}

input{
	height: 40px;

}

input[name="q"] {
	border:1px solid gray;
	width: 80%;
}

input[name="q"]:focus {
border-color:#56b4ef;
box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);

}
#search {
 float: right;
 width: 20%;
 height: 40px;
}

input[type="submit"]:hover {

 cursor:pointer;
}
form{
width: 90%;
}
input{
	margin-bottom: 5px;
}
button{
	padding: 5px;
}


li {
border-bottom: 1px dotted gray;
padding-bottom: 5px;

}

.text {
	font-family:arial;
	color: gray;
}

.redirect{
}

.about_image{
margin: 20px auto;

max-height:300px;
max-width: 300px;
}


.about_image img{

max-height:300px;
max-width: 300px;
}

.more {
display: block;
position: absolute;
bottom:10px;
right: 10px;
}




